{% extends "index.html" %}
{% block body %}
<style>
.iconButton {
  font-size: 14px;
  padding: 20px;
  letter-spacing: 3px;
  font-family: "Arial Narrow";
  border-radius: 2px;
  background-color: rgb(241, 242, 243);
  color: white;
  border: 1px solid white;
  cursor: pointer;
  outline: none;
}
.iconButton div:hover {
  color: gray;
}
.selectArea {
  display: flex;
  padding: 5px;
}
.selectTitle {
  font-size: 20px;
  width: 800px;
  text-align: center;
  padding: 12px;
}
.selectFont {
  font-size: 13px;
  letter-spacing: 2px;
  justify-content:flex-end;
}
.chart {
  text-align: center;
}
</style>
<head>
  <!--Load the AJAX API-->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">

    // Load the Visualization API and the piechart package.
    google.charts.load('current', {'packages':['corechart']});

    // Set a callback to run when the Google Visualization API is loaded.
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
      console.log($('#select_player').val())
      var jsonData = $.ajax({
          url: "{{ url_for('analysis.pitcher_recent', player_id='') }}" + $('#select_player').val(),
          dataType: "json",
          async: false
        }).responseJSON;
        console.log(jsonData);
      // Create our data table out of JSON data loaded from server.
      var data = google.visualization.arrayToDataTable(jsonData);
      var options = {
        width: 800,
        height: 400,
        legend: { position: 'top', maxLines: 3 },
        bar: { groupWidth: '30%' },
        isStacked: true,
      };
        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
    </script>
  </head>
<!-- Page heading -->
  <div class="page-head">
    <h2 class="pull-left"><i class="fa fa-home"></i> Dashboard</h2>

    <!-- Breadcrumb -->
    <div class="bread-crumb pull-right">
      <a href="index.html"><i class="fa fa-home"></i> Home</a>
      <!-- Divider -->
      <span class="divider">/</span>
      <a href="#" class="bread-current">Dashboard</a>
    </div>
  </div>
  <!-- Page heading ends -->
  <!-- Matter -->
  <div class="matter">
    <div class="container">
      <!-- Today status. jQuery Sparkline plugin used. -->
      <div class="row">
        <div class="col-md-12">
          <!-- List starts -->
          <ul class="today-datas">
            <!-- List #1 -->
            <li>
              <!-- Graph -->
              <div><span id="todayspark1" class="spark"></span></div>
              <div class="iconButton">
                <a href="{{ url_for('field.simple_list') }}">
                  <i style="font-size:30px;color:#ce405d" class="fa fa fa-bullseye"></i>
                  <div class="datas-text">場地管理</div>
                </a>
              </div>
            </li>
            <li>
              <div><span id="todayspark2" class="spark"></span></div>
              <div class="iconButton">
                <a href="{{ url_for('team.simple_list') }}">
                  <i style="font-size:30px;color:#ecc133" class="fa fa-users"></i>
                  <div class="datas-text">球隊管理</div>
                </a>
              </div>
            </li>
            <li>
              <div><span id="todayspark3" class="spark"></span></div>
              <div class="iconButton">
                <a href="{{ url_for('player.simple_list') }}">
                  <i style="font-size:30px;color:#337ab7" class="fa fa-user"></i>
                  <div class="datas-text">球員管理</div>
                </a>
              </div>
            </li>
            <li>
              <div><span id="todayspark3" class="spark"></span></div>
              <div class="iconButton">
                <a href="{{ url_for('match.simple_list') }}">
                  <i style="font-size:30px;color:#337ab7" class="fa fa-user"></i>
                  <div class="datas-text">賽事管理</div>
                </a>
              </div>
            </li>
            <li>
              <div><span id="todayspark4" class="spark"></span></div>
              <div class="iconButton">
                <a href="{{ url_for('play.simple_list') }}">
                  <i style="font-size:30px;color:#6d6969" class="fa fa fa-futbol-o"></i>
                  <div class="datas-text">打席管理</div>
                </a>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h1 class="selectTitle">投手近況表現</h1>
          <div class="selectArea">
            <p class="selectFont">投手選擇：</p>
              <select id="select_player" class="select2" onchange="drawChart()">
                {% for player in pitchers %}
                <option value="{{ player[0] }}">{{ player[1] }}</option>
                {% endfor %}
              </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
            <div class="chart" id="chart_div"></div>
        </div>
      </div>
    </div>
  </div>

<!-- Matter ends -->

<!-- Script for this page -->
<script type="text/javascript">
$(function () {

    /* Bar Chart starts */

    var d1 = [];
    for (var i = 0; i <= 20; i += 1)
        d1.push([i, parseInt(Math.random() * 30)]);

    var d2 = [];
    for (var i = 0; i <= 20; i += 1)
        d2.push([i, parseInt(Math.random() * 30)]);


    var stack = 0, bars = true, lines = false, steps = false;

    function plotWithOptions() {
        $.plot($("#bar-chart"), [ d1, d2 ], {
            series: {
                stack: stack,
                lines: { show: lines, fill: true, steps: steps },
                bars: { show: bars, barWidth: 0.8 }
            },
            grid: {
                borderWidth: 0, hoverable: true, color: "#777"
            },
            colors: ["#ff6c24", "#ff2424"],
            bars: {
                  show: true,
                  lineWidth: 0,
                  fill: true,
                  fillColor: { colors: [ { opacity: 0.9 }, { opacity: 0.8 } ] }
            }
        });
    }

    plotWithOptions();

    $(".stackControls input").click(function (e) {
        e.preventDefault();
        stack = $(this).val() == "With stacking" ? true : null;
        plotWithOptions();
    });
    $(".graphControls input").click(function (e) {
        e.preventDefault();
        bars = $(this).val().indexOf("Bars") != -1;
        lines = $(this).val().indexOf("Lines") != -1;
        steps = $(this).val().indexOf("steps") != -1;
        plotWithOptions();
    });

    /* Bar chart ends */

});


/* Curve chart starts */

$(function () {
    var sin = [], cos = [];
    for (var i = 0; i < 14; i += 0.5) {
        sin.push([i, Math.sin(i)]);
        cos.push([i, Math.cos(i)]);
    }

    var plot = $.plot($("#curve-chart"),
           [ { data: sin, label: "sin(x)"}, { data: cos, label: "cos(x)" } ], {
               series: {
                   lines: { show: true, fill: true},
                   points: { show: true }
               },
               grid: { hoverable: true, clickable: true, borderWidth:0 },
               yaxis: { min: -1.2, max: 1.2 },
               colors: ["#1eafed", "#1eafed"]
             });

    function showTooltip(x, y, contents) {
        $('<div id="tooltip">' + contents + '</div>').css( {
            position: 'absolute',
            display: 'none',
            top: y + 5,
            left: x + 5,
            border: '1px solid #000',
            padding: '2px 8px',
            color: '#ccc',
            'background-color': '#000',
            opacity: 0.9
        }).appendTo("body").fadeIn(200);
    }

    var previousPoint = null;
    $("#curve-chart").bind("plothover", function (event, pos, item) {
        $("#x").text(pos.x.toFixed(2));
        $("#y").text(pos.y.toFixed(2));

        if ($("#enableTooltip:checked").length > 0) {
            if (item) {
                if (previousPoint != item.dataIndex) {
                    previousPoint = item.dataIndex;

                    $("#tooltip").remove();
                    var x = item.datapoint[0].toFixed(2),
                        y = item.datapoint[1].toFixed(2);

                    showTooltip(item.pageX, item.pageY,
                                item.series.label + " of " + x + " = " + y);
                }
            }
            else {
                $("#tooltip").remove();
                previousPoint = null;
            }
        }
    });

    $("#curve-chart").bind("plotclick", function (event, pos, item) {
        if (item) {
            $("#clickdata").text("You clicked point " + item.dataIndex + " in " + item.series.label + ".");
            plot.highlight(item.series, item.datapoint);
        }
    });

});

/* Curve chart ends */
</script>
{% endblock %}
