<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <!-- Title and other stuffs -->
    <title>Login - MLB Analysis</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <!-- Stylesheets -->
    <link href="{{ url_for('static', filename='css/loginstyle.css') }}" rel="stylesheet">
    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Bitter|Roboto|Saira:500" rel="stylesheet">
    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon/MLBLogo.jpg') }}">

    <script src="{{ url_for('static', filename='js/respond.min.js') }}"></script>
    <!--[if lt IE 9] -->
    <script src="{{ url_for('static', filename='js/html5shiv.js') }}"></script>
    <!--[endif]-->
    <!-- JS -->
    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.validate.min.js') }}"></script> <!-- jQuery Validate -->
    <!-- jQuery Notification - Noty -->
    <script src="{{ url_for('static', filename='js/jquery.noty.js') }}"></script> <!-- jQuery Notify -->
    <script src="{{ url_for('static', filename='js/themes/default.js') }}"></script> <!-- jQuery Notify -->
    <script src="{{ url_for('static', filename='js/layouts/bottom.js') }}"></script> <!-- jQuery Notify -->
    <script src="{{ url_for('static', filename='js/layouts/topRight.js') }}"></script> <!-- jQuery Notify -->
    <script src="{{ url_for('static', filename='js/layouts/top.js') }}"></script> <!-- jQuery Notify -->
    <script>
      $(document).ready(function(){
            setTimeout(function(){
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                            noty({
                                text: '{{ message }}',
                                layout:'topRight',
                                type:'information',
                                timeout:15000
                            });
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            }, 1000);
        });
      $("#loginForm").validate({
          rules: {
            password: {
              required: true,
              minlength: 8
            },
            email: {
              required: true,
              email: true
            },
          },
          messages: {
            password: {
              required: "Please provide a password",
              minlength: "Your password must be at least 8 characters long"
            },
            email: "Please enter a valid email address",
          }
        });
    </script>
  </head>

  <body class="login-body">
    <div class="admin-form">
      <!-- Widget head -->
      <div class="widget-head">
        <div class="image"></div>
      </div>
      <div class="widget-content">
          <!-- Login form -->
          <form id="loginForm" class="form-horizontal" action="{{ url_for('login') }}" method="post">  <!--post to same page-->
            <p class="loginTitle">MLB Analysis Login</p>
            <!-- Email -->
              <input type="text" class="form-control" id="inputEmail" placeholder="Email" name="email" />
            <!-- Password -->
              <input type="password" class="form-control" id="inputPassword" placeholder="Password" name="password" />
              <div class="login">
      	         <button type="submit" class="loginBtn">Sign in</button>
              </div>
          </form>
      </div>
    </div>
    <!-- Footer -->
    <div>
      <p class="footerText">Copyright &copy; 2017 MLB Analysis<br> By CT Wang, YC Tien, YC Chen, YC Huang, SS Lin</p>
    </div>
  </body>

</html>
