{% extends "index.html" %}
{% block body %}
<!-- Page heading -->
<div class="page-head">
	<h2 class="pull-left"><i class="fa fa-table"></i> 打席管理 </h2>

	<!-- Breadcrumb -->
	<div class="bread-crumb pull-right">
		<a href="{{ url_for('show_entries') }}"><i class="fa fa-home"></i> Home</a>
		<!-- Divider -->
		<span class="divider">/</span>
        <a href="{{ url_for('play.simple_list') }}"><i class="fa fa-home"></i>打席列表</a>
	</div>

	<div class="clearfix"></div>

</div>
<!-- Page heading ends -->

<!-- Matter -->
<div class="matter">
	<div class="container">
        <div class="row">
            <div class="col-md-7">
                <!-- Quick setting -->
                <div class="widget">
                    <div class="widget-head">
                      <div class="pull-left">編修打席</div>
                      <div class="widget-icons pull-right">
                        <a href="#" class="wminimize"><i class="fa fa-chevron-up"></i></a>
                        <a href="#" class="wclose"><i class="fa fa-times"></i></a>
                      </div>
                      <div class="clearfix"></div>
                    </div>
                    <div class="widget-content">
                        <div class="padd">

                        <div class="form quick-post">
                            <!-- Quick setting form (not working)-->
                            <form class="form-horizontal" role="form" action="{{ url_for('play.update', play_id=play[0]) }}" method="post">
                                <!-- Name -->
                                <div class="form-group">
                                    <label class="control-label col-md-2" for="play_id"> 投手名稱</label>
                                    <div class="col-md-7">
                                        <input type="text" class="form-control" id="play_id" name="play_id" value="{{ play[1] }}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2" for="pitcher_id"> 打者名稱</label>
                                    <div class="col-md-7">
                                        <input type="text" class="form-control" id="pitcher_id" name="pitcher_id" value="{{ play[2] }}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2" for="batter_id"> 比賽場次</label>
                                    <div class="col-md-7">
                                        <input type="text" class="form-control" id="batter_id" name="batter_id" value="{{ play[3] }}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2" for="match_id"> 第幾局</label>
                                    <div class="col-md-7">
                                        <input type="text" class="form-control" id="match_id" name="match_id" value="{{ play[4] }}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2" for="inning"> 上下半場</label>
                                    <div class="col-md-7">
                                        <input type="text" class="form-control" id="inning" name="inning" value="{{ play[5] }}">
                                    </div>
                                </div>
                                <!-- Buttons -->
                                <div class="form-group">
                                    <!-- Buttons -->
                                    <div class="col-lg-9 col-lg-offset-2">
                                        <button type="submit" class="btn btn-info">Save Now</button>
                                        <button type="reset" class="btn btn-default">Reset</button>
                                    </div>
                                </div>
                            </form>
                        </div>

                        </div>
                        <div class="widget-foot">
                        <!-- Footer goes here -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}