{% extends "index.html" %}
{% block body %}
<!-- Page heading -->
<div class="page-head">
	<h2 class="pull-left"><i class="fa fa-table"></i> 打席管理 </h2>

	<!-- Breadcrumb -->
	<div class="bread-crumb pull-right">
		<a href="{{ url_for('show_entries') }}"><i class="fa fa-home"></i> Home</a>
		<!-- Divider -->
		<span class="divider">/</span>
        <a href="{{ url_for('play.simple_list') }}"><i class="fa fa-home"></i>打席列表</a>
	</div>

	<div class="clearfix"></div>

</div>
<!-- Page heading ends -->

<!-- Matter -->
<div class="matter">
	<div class="container">
        <div class="row">
            <div class="col-md-7">
                <div class="widget">
                    <!-- Widget title -->
                    <div class="widget-head">
                        <div class="pull-left">打席資訊</div>
                        <div class="widget-icons pull-right">
                            <a href="#" class="wminimize"><i class="fa fa-chevron-up"></i></a>
                            <a href="#" class="wclose"><i class="fa fa-times"></i></a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="widget-content">
                        <!-- Widget content -->

                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover">
                                <tbody>
                                    <tr>
                                        <td>打席ID</td>
                                        <td>{{ play[0] }}</td>
                                    </tr>
                                    <tr>
                                        <td>投手名稱</td>
                                        <td>{{ play[1] }}</td>
                                    </tr>
                                    <tr>
                                        <td>打者名稱</td>
                                        <td>{{ play[2] }}</td>
                                    </tr>
                                    <tr>
                                        <td>比賽場次</td>
                                        <td>{{ play[3] }}</td>
                                    </tr>
                                    <tr>
                                        <td>第幾局</td>
                                        <td>{{ play[4] }}</td>
                                    </tr>
                                    <tr>
                                        <td>上下半場</td>
                                        <td>{{ play[5] }}</td>
                                    </tr>
                                    <tr>
                                        <td>Control</td>
                                        <td>
                                            <a href="{{ url_for('play.update', play_id=play[0]) }}">
                                                <button class="btn btn-xs btn-warning"><i class="fa fa-pencil"></i> </button>
                                            </a>
                                            <a href="{{ url_for('play.delete', play_id=play[0]) }}">
                                                <button class="btn btn-xs btn-danger"><i class="fa fa-times"></i> </button>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="widget-foot"></div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
{% endblock %}